html {
  scroll-behavior: smooth;
}
.navbar-nav .nav-link {
  color: #333;
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #10c16c;
  transition: width 0.3s;
}

.navbar.fixed-top {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-color {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #10bc69;
}

.navbar-brand:hover {
  color: #10c16c;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #10c16c;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.get-start-btn {
  color: white;
  border: none;
  font: 13px;
  padding: 10px 28px 12px;
  border-radius: 50px;
  background-color: #10bc69;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  transition: background-color 0.5s;
}

.get-start-btn:focus {
  outline: 0px;
}

.get-start-btn:hover {
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  background-color: #46ce8c;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile-img-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.profile-img {
  animation: floatUpDown 3s ease-in-out infinite;
  max-width: 100%;
  height: auto;
}
.profile-img-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  animation: floatUpDown 3s ease-in-out infinite;
  max-width: 100%;
  height: auto;
}

.prfile-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #5f687b;
}

.para-title {
  color: #5f687b;
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

#nav-menu a,
.nav-menu a:focus {
  color: black;
  padding: 18px 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.edit-mg {
  padding: 30px 10px 30px 20px;
  background-color: #e8ebf3;
  cursor: pointer;
  margin-bottom: 0px;
  color: #5f687b;
  font-weight: bold;
  margin-top: 20px;
  transition: margin-top 0.6s;
}

.fa-solid {
  font-size: 30px;
  padding: 10px 10px;
  color: #10c16c;
}

.edit-mg p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f4e4e !important;
}

.edit-mg:hover {
  margin-top: 7px;
  color: #10bc69;
}

.about-section {
  color: #5f687b;
  margin-top: 100px;
  font-size: 60px;
  margin-bottom: 0px;
}

.about-section,
.serv-heading p {
  margin-top: 20px;
  color: #5f687b;
  font-size: 20px;
  margin-bottom: 50px;
}

.end-section-edit h1 {
  color: #5f687b;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0;
}

.end-section-edit p {
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.end-section-edit ul li {
  list-style: none;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 450;
}

.end-section-edit ul li i {
  font-size: 20px;
  /* padding-left: 10px; */
}

.hm-alghai {
  font-style: normal !important;
  font-weight: 470 !important;
  font-size: 17px !important;
}

.prsnl-stats h1 {
  color: #10bc69;
  margin-top: 50px;
  font-weight: 700;
  font-size: 45px;
}

.prsnl-stats p {
  font-size: 17px;
  color: #5f687b;
  font-weight: 470;
  margin-top: 0px;
}

.only-mrg {
  margin-bottom: 70px;
}

.imgjin {
  margin-top: 90px;
}

.serv-heading {
  background-color: #ece9e9;
  /* border: 2px solid green; */
}

.serv-edit {
  background-color: #fff;
  /* padding: 10px 10px 10px 10px; */
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 10px #a19f9f;
  padding: 10px 10px 10px 10px;
  transition: border 0.2s;
  margin-bottom: 60px;
}

.serv-edit:hover {
  border: 1.5px solid #4cd794;
}

.serv-edit h1 {
  font-size: 22px;
  font-weight: bold;
  color: #5f687b;
  margin-top: 20px;
}

.serv-edit p {
  font-size: 16px;
  color: #000;
}

.serv-edit i {
  color: white;
  /* border: 2px solid green; */
  margin-top: 20px;
  background-color: #10bc69;
  border: none;
  border-radius: 3px;
  padding: 13px 13px;
}

.sarv-top h1 {
  margin-top: 50px;
}

.heading-edit {
  margin-top: 50px;
}

.heading-edit h1 {
  color: #5f687b;
  margin-bottom: 20px;
  font-size: 34px;
}

.heading-edit p {
  font-weight: 450;
  margin-bottom: 50px;
}

.my-info h3 {
  color: #4f4e4e;
  font-size: 26px;
  padding-top: 30px;
  padding-left: 0px;
}

.my-info p {
  margin-left: 50px;
  margin-top: -10px;
  font-size: 16px;
}
.my-info i {
  border: 0px solid #ececec;
  background-color: #cbe3d7;
  padding: 13px 15px 13px 15px;
  border-radius: 50px;
  font-size: 20px;
  transition: backgound-color 0.5s;
  transition: color 0.5s;
}

.my-info i:hover {
  background-color: #10c16c;
  color: #fff;
}

.edit-it {
  border: 0px solid rgb(247, 243, 243);
  box-shadow: 1px 1px 5px #dcd4d4;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
}

.my-info iframe {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-edit {
  border: 0px solid rgb(247, 243, 243);
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px #dbcccc;
}

.name-edit {
  height: 50px;
  margin-top: 20px;
}

.name-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.subject-edit {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.subject-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.e-mail-edit {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.e-mail-edit:focus {
  outline: 0px;
  border: 1.5px solid #10bc69;
}

.message-edit {
  height: 334px !important;
  /* margin-top: 20px; */
  margin-bottom: 18px;
}

.message-edit:focus {
  outline: none;
  border: 1.5px solid #10bc69;
}

.btn2 {
  background-color: #10bc69;
  /* margin-left: 235px; */
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn2:focus {
  outline: 0px;
}

.form-sub {
  color: #5f687b;
  font-size: 34px;
  padding-bottom: 0;
}

.copy-right {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #5f687b; */
}

.copy-right p span {
  color: #10bc69;
}
